.main {
    padding: 3rem 0;
}

.page {
    &--header {
        padding-bottom: 3rem;
    }

    &--link {
        color: $ibm-colors__blue-70;
        transition: color 0.2s ease;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            color: $ibm-colors__purple-90;
            transition: color 0.2s ease;
        }
    }
    &--content {

        p {
            padding-bottom: 1rem;
        }

        ul {
            list-style: none;
            padding-left: 2rem;
        }

        li {
            text-indent: -1rem;
        }

        ul >li:before {
            margin-right: .5rem;
            content: "–";
        }
    }
}